.heading={
	font-family:'Georgia',Times,Times New Roman,sans-serif;}

.contact={
	float:right; width:30%;}

.fonts={
	font-style: 'Arial','Helvetica Neue',Helvectica,sans-sarif;}

.teal={
	color: #4aaaa5;}

.regfont={
	color:#777777;}

.headerbackground={
	color:#ffffff;}

.headborder={
	color:#cccccc;}

.footer={
	background-color:#666666;}

.mainbkrdclr={
	background-color:#ffffff;}

.maincntborder{color:#dddddd;}